@charset "UTF-8";
@font-face {
    font-family: 'f';
    src: url('fontes/bBagian.ttf') format('opentype');
}
*{
    font-family: 'f' , Helvetica, sans-serif;
    font-weight: normal;
}
body{
    background-image: linear-gradient(to right, rgb(18, 97, 170), rgb(255, 255, 255));
}
main
{   
    width: 90.5vw;
    height: 98vh;
    background: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: 56vh;

}
h1{
    color: white;
    font-size: 1em;
    text-align: center;
}
a:hover{
    background-color: white;
    color: black;
    width: 100px;
    height: 25px;
    border-radius: 10px;
}
p.a{
    font-size: 1em;
    margin: 5px 0px;
    text-align: center;
    
}
p#t{
    font-size: 1em;
    color: white;
    margin: auto;
    text-align: justify;
}
img
{
    position: relative;
    bottom: 0%;
    left: 15%;
    right: 0%;
    top: 0%;
    margin: auto;
}
img.t
{
    position: absolute;
    left: 48%;
    top: 19%;
    margin: 0px;
}
img.y
{
    position: absolute;
    left: 48%;
    top: 28%;
    margin: 0px;
}
img.i {
    position: absolute;
    top: 37%;
    left: 48%;
    margin: 0px;
    
}
a{
    text-decoration: none;
    margin: 0px;
    color: white;
}
div.tw 
{
    display: block;
    position: absolute;
    top: 20%;
    left: 63%;
    background-color: blueviolet;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    margin: 0px;
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
}

div.yu{
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    background-color:red;
    color: white;
    position: absolute;
    top: 29%;
    left: 63%;
    margin: 0px;
}
div.in{
    border-radius: 8px;
    padding: 1px;
    width: 100px;
    height: 25px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    background-color: orange;
    color: white;
    position: absolute;
    top: 37.5%;
    left: 63%;
    margin: 0px;
    
}
.t{
    width: 40px;
    border-radius: 50%;
}
.y{
    width: 40px;
    border-radius: 50%;
}
.i{
    width: 40px;
    border-radius: 50%;
}
footer
{
    margin: 0px;
    background-color: black;
    color: white;
    text-align: center;
    width: 90.5vw;
}